body {
  margin-inline: 3%;
}
/* Home page-specific styles */
#piechart{
  position: sticky;
  grid-column: 2;
  display: grid;
}
#temp-pie-chart,
#activity-pie-chart {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px auto;
}
#nav-advanced {
  text-align: right;
  margin: 20px;
}


#scrollytelling {
  grid-column: 1 / -1;
  display: grid;
  grid-template-columns: subgrid;
}

/* feel free to play with this to make your scrolly more seemless with your plot */
#scroll-container {
  grid-column: 1;
  position: relative;
  width: 100%;
  height: 80%;
  overflow-y: scroll;
  border: 1px solid #ccc;
  margin-bottom: 50px;
  margin-top: 80px;
}

.to-advanced {
  position: absolute;
  top: 10px;
  left: 10px;
  padding: 10px 20px;
  background-color: #a6a6a6;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.to-advanced:hover {
  background-color: #3b54c4;
  transition: background-color 0.3s ease-in-out;
}

.to-index {
  position: absolute;
  top: 50px;
  left: 10px;
  padding: 10px 20px;
  background-color: #a6a6a6;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.to-index:hover {
  background-color: #3b54c4;
  transition: background-color 0.3s ease-in-out;
}



#spacer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background: none; /* transparent */
  pointer-events: none;
}

#items-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.item {
  height: 30px;
  padding: 10px;
  box-sizing: border-box;
  border-bottom: 2px solid #eee;
}

dd {
  margin-inline-start: 20px;
}
