body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

h1 {
    text-align: center;
    margin-top: 20px;
    color: #333;
}

/* Add styling for p elements*/
p {
    /* Add a margin  */
    margin: 10px 0;
    /* Add a padding */
    padding: 0 150px;
    color: #333;
    
    

}

#summary-chart {
    width: 80%;
    max-width: 850px;
    height: 450px;
    margin: 20px auto;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#button-container {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin: 20px 0;
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #0056b3;
}

#summary-tooltip {
    display: none;
    position: absolute;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    pointer-events: none;
    /* Font size */
    font-size: 12px;
}

#summary-tooltip dt {
    font-weight: bold;
    margin: 0 0 5px 0;
}

#summary-tooltip dd {
    margin: 0 0 10px 0;
}

#piechart{
    display: flex;
    justify-content: center;
    margin: auto;
}
