body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

h1 {
    text-align: center;
    margin-top: 20px;
    color: #333;
}

p {
    margin: 10px 0;
    padding: 0 150px;
    color: #333;
}

#summary-chart {
    width: 80%;
    max-width: 850px;
    height: 450px;
    margin: 20px auto;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#button-container {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin: 20px 0;
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #0056b3;
}

.legend {
    width: 100%;
    max-width: 400px;
    margin: 0 auto 20px;
    padding: 10px;
    border: 1px solid #ccc;
    background: #f8f8f8;
    border-radius: 4px;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    gap: 8px;
    font-size: 0.9rem;
    align-items: flex-start;
}

.legend-item {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 14px;
    margin-bottom: 8px;
}

.legend-color {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    display: inline-block;
}

.reset-container {
    text-align: center;
    margin: 10px 0;
}

#resetBrush {
    padding: 10px 20px;
    background-color: #4CAF50;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 16px;
    border-radius: 12px;
}

#resetBrush:hover {
    background-color: #45a049;
}

#summary-tooltip {
    position: absolute;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    pointer-events: none;
    font-size: 12px;
    opacity: 0;
    transition: opacity 0.2s;
}

#summary-tooltip dt {
    font-weight: bold;
    margin: 0 0 5px 0;
}

#summary-tooltip dd {
    margin: 0 0 10px 0;
}

#piechart {
    display: flex;
    justify-content: center;
    margin: auto;
}

.light-legend text {
    font-size: 12px;
    dominant-baseline: middle;
}

.light-legend rect {
    stroke-width: 1px;
}